<div id="async_flowplayer" data-player-id="{{ playerId }}">
  <script src="//cdn.flowplayer.com/players/e60cd701-8e9b-4661-a4e3-09a4ff844c2b/native/flowplayer.async.js">
    {
      "src": "{{ videoId }}",
      "plugins": ["keyboard"],
      "keyboard": {
        "seek_step": "10"
      }
    }
  </script>
</div>
